In [4]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import types
import pymysql
pymysql.install_as_MySQLdb()

import os
import sys
sys.path
sys.path.append('../')
sys.path.append('spotify-chart')
import connections
import charts

## Top 200 Daily

In [ ]:
daily_charts = charts.get_charts('2017-01-01', '2019-02-28', freq = 'daily', region = 'us')
top_200_daily = pd.DataFrame(daily_charts)

In [ ]:
top_200_daily.drop(columns = 'Unnamed: 0', inplace = True)
# top_200_weekly.rename(columns = {'Unnamed: 0':'index'}, inplace = True)
top_200_daily.rename(columns = {'Track Name':'Track'}, inplace = True)

top_200_daily['ID'] = top_200_daily['URL'].str.split('/', expand = True)[4]

# top 200 db export
top_200_db = top_200_daily[['Position', 'date', 'ID']]
top_200_db.head()

 19%|███████████████                                                                 | 149/789 [03:52<16:10,  1.52s/it]

<_io.StringIO object at 0x0000016B4C83E798>

 19%|███████████████▏                                                                | 150/789 [03:52<12:53,  1.21s/it]

<_io.StringIO object at 0x0000016B4C83E048>

 19%|███████████████▍                                                                | 152/789 [03:54<11:52,  1.12s/it]

<_io.StringIO object at 0x0000016B4C83E048>

 35%|████████████████████████████▍                                                   | 280/789 [07:10<12:41,  1.50s/it]

## Viral 50 Daily

In [ ]:
viral_charts = charts.get_charts('2017-01-01', '2019-02-28', chart = 'viral', freq = 'daily', region = 'us')
viral_50_daily = pd.DataFrame(viral_charts)

In [ ]:
viral_50_daily.drop(columns = 'Unnamed: 0', inplace = True)
# top_200_weekly.rename(columns = {'Unnamed: 0':'index'}, inplace = True)
viral_50_daily.rename(columns = {'Track Name':'Track'}, inplace = True)

viral_50_daily['ID'] = viral_50_daily['URL'].str.split('/', expand = True)[4]

# top 200 db export
viral_50_db = viral_50_daily[['Position', 'date', 'ID']]
viral_50_db.head()

## Unique Songs

In [3]:
unique_songs = viral_50_daily.drop_duplicates('ID')[['ID', 'Track', 'Artist']]
unique_songs.head()

NameError: name 'viral_50_daily' is not defined

## Features

# Export Song Tables to SQL

In [29]:
connection_string = (f"root:{password}@localhost")

engine = create_engine(f"mysql://{connection_string}")
engine.execute("DROP DATABASE IF EXISTS spot_db")
engine.execute("CREATE DATABASE spot_db")
engine.execute("ALTER DATABASE spot_db CHARACTER SET = utf8mb4 COLLATE = utf8mb4_unicode_ci")
# engine.execute("ALTER TABLE indeed_resumes CONVERT TO CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;")
engine = create_engine(f"mysql://{connection_string}/spot_db?charset=utf8mb4")

In [30]:
# Top 200 Daily
engine.execute("USE spot_db")
top_200_db.to_sql(
    name = 'top_200_daily', con = engine,
    if_exists = 'replace')
with engine.connect() as con:
    con.execute('ALTER TABLE `top_200_daily` ADD PRIMARY KEY (`Index`);')

In [31]:
# Viral 50 Daily
engine.execute("USE spot_db")
viral_50_db.to_sql(
    name = 'viral_50_daily', con = engine,
    if_exists = 'replace')
with engine.connect() as con:
    con.execute('ALTER TABLE `viral_50_daily` ADD PRIMARY KEY (`Index`);')

In [60]:
# Unique Songs
engine.execute("USE spot_db")
unique_songs.to_sql(
    name = 'songs', con = engine,
    if_exists = 'replace', 
    dtype={'ID': types.VARCHAR(255)})
with engine.connect() as con:
    con.execute('ALTER TABLE `songs` ADD PRIMARY KEY (`Id`);')